<div class="component-container">
    <h4 class="text-center mt-3">Artists</h4>
    <hr>
    <p>
        “As music is the poetry of sound, so is painting the poetry of sight,” James McNeil Whistler once wrote. He understood
        that when the art world joins forces with the music industry, everyone is a winner. Take Lady Gaga and Jeff Koons on her
        hit album ArtPop, for instance; the duo seemed like a perfect match, merging the Pop Art master with the pop music
        maven.
    </p>
</div>