
<main class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
        <!--
          
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <aside id="sidebar">
          <app-sidebar-menu></app-sidebar-menu>
        </aside>
        
        <article>
          
        </article>-->
      </div>
    </div>
  </div>
</main>
<!--
<footer>
  <app-footer></app-footer>
</footer>
-->
