<div class="component-container">
    <h4 class="text-center mt-3">Genres</h4>
    <hr>
    <h4>Music Genres List</h4>
    <p>
        Music comes in many different types and styles ranging from traditional rock music to world pop, easy listening and
        bluegrass. Many genres have a rich history or geographical significance, a cult following or music roots that go far
        beyond the 20th century.
    </p>
    <p>
        The Music Genres List site covers many of the most popular styles of music, the site is becoming the definitive list of
        music genres on the Internet – thanks to you – and if you feel any music genres are missing (we’re sure there are many!)
        please send an email to add @ musicgenreslist dot com and we’ll add to get closer to completing the music list of
        genres.
        
        And a big thank you to the folks who have already sent in suggestions. We haven’t added them all as some are not easily
        verified or differentiated from our current list (and we get many music genres suggestions that are duplicates), however
        all the genres we can research and confirm as valid or derivatives or existing genres or music types, we’ve added and
        have attributed by way of thanks.
    </p>
    <h4>LIST OF TYPE OF MUSIC | MUSIC GENRES</h4>
    <ul>
        <li>Alternative</li>
        <li>Anime</li>
        <li>Blues</li>
        <li>Children’s Music</li>
        <li>Classical</li>
        <li>Comedy</li>
        <li>Country</li>
        <li>Dance</li>
        <li>Easy Listening</li>
        <li>Electronic</li>
        <li>Enka</li>
        <li>French Pop</li>
        <li>Fitness & Workout</li>
        <li>Hip-Hop/Rap</li>
        <li>Holiday</li>
        <li>Indie Pop</li>
        <li>Industrial</li>
        <li>Jazz</li>
        <li>Karaoke</li>
        <li>Latin</li>
        <li>Metal</li>
        <li>Opera</li>
        <li>Pop</li>
        <li>R&B/Soul</li>
        <li>Reggae</li>
        <li>Rock</li>
        <li>Vocal</li>
        <li>World</li>
        <li>Soundtrack</li>
        <li>Spoken Word</li>
        <li>Tex-Mex / Tejano</li>
        <li>New Age</li>
    </ul>
</div>